<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="com.puppycrawl.tools.checkstyle.Checker">
	<!--
	NOTE: Checkstyle rules are applied from 'io.spring.javaformat.checkstyle.SpringChecks' (spring-javaformat-checkstyle.jar)
	https://github.com/spring-io/spring-javaformat/tree/master/spring-javaformat/spring-javaformat-checkstyle/src/main/resources/io/spring/javaformat/checkstyle
	-->
	<module name="io.spring.javaformat.checkstyle.SpringChecks">
	</module>
</module>
